* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./img/fon2.jpg");
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

.tittle {
  display: flex;
  justify-content: center;
  padding: 10px 0px 15px;
  font-size: calc(24px + 30 * (100vw / 1280));
  text-shadow: 2px 2px 2px rgb(191, 235, 235), 4px 4px 2px rgb(191, 235, 235);
}

.gameZone {
  border: 3px solid #33d9de;
  border-radius: 15px;
  margin-bottom: 40px;
  min-width: 60%;
  height: 60vh;
  background-color: rgb(191, 235, 235);
  background: url("./img/zastavka.jpg") no-repeat;
  background-size: 100% 100%;
}

.userGame {
  flex-wrap: wrap;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 0px 20px 40px 20px;
  min-width: 80%;
  height: 75%;
  background-color: rgb(191, 235, 235);
  background: url("./img/background2.jpg") top center no-repeat;
  background-size: 100% 100%;
}

.card {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px;
  border: 3px solid #33d9de;
  cursor: pointer;
  width: 10%;
  height: 30%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 15px 4px 8px rgb(0 0 0 / 70%);
}

.card_hide {
  background-image: url("./img/foncard.jpg") !important;
}

.buttonStart {
  font-size: calc(10px + 20 * (100vw / 2000));
  font-weight: 800;
  font-family: "Noto Sans", sans-serif;
  text-decoration: none;
  border-radius: 5px;
  padding: 14px 30px;
  border: 2px solid rgb(255, 255, 255);
  border-image-slice: 1;
  margin: 10px 20px;
  text-transform: uppercase;
  box-shadow: 10px 4px 8px rgb(0 0 0 / 60%);
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  background-image: linear-gradient(
    45deg,
    #6ab1d7 0%,
    #33d9de 50%,
    #002878 100%
  );
  background-position: 100% 0;
  background-size: 200% 200%;
  color: white;
  transition: 0.5s;
}

.buttonStart:hover {
  box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}

.resButton {
  background-color: #e15555;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  font-size: calc(10px + 20 * (100vw / 2000));
  text-align: center;
  height: 50px;
  min-width: 40px;
  border-radius: 5px;
  margin-left: 15px;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 10px 4px 8px rgb(0 0 0 / 60%);
  cursor: pointer;
}

.containerControl {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.input {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  width: 35vh;
  text-align: center;
  height: 50px;
  border-radius: 5px;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 10px 4px 8px rgb(0 0 0 / 60%);
  text-decoration: none;
  display: inline-block;
  padding: 10px 10px;
  margin: 10px 20px;
  background-image: linear-gradient(
    45deg,
    #6ab1d7 0%,
    #33d9de 50%,
    #002878 100%
  );
  background-position: 100% 0;
  background-size: 200% 200%;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: white;
  transition: 0.5s;
}
::-webkit-input-placeholder {
  font-size: calc(8px + 10 * (100vw / 2000));
  font-family: Tahoma;
  color: rgb(255, 255, 255);
}

.input:hover {
  box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}

.userSelected {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: calc(10px + 20 * (100vw / 2000));
  text-shadow: 2px 2px 2px rgb(191, 235, 235), 4px 4px 2px rgb(191, 235, 235);
}

.containerPopup {
  position: fixed;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgba(100, 96, 96, 0.55);
}

.popupInfo {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  border-radius: 10px;
  font-size: calc(25px + 20 * (100vw / 2000));
  background: url("./img/popupFon.jpg") no-repeat;
  background-size: 100% 100%;
  height: 300px;
  box-shadow: 10px 4px 8px rgb(0 0 0 / 70%);
  padding: 10px;
  border: 3px solid #33d9de;
}

.buttonNewGame {
  width: 40%;
  display: block;
  border-radius: 10px;
  margin-top: 15px;
  height: 60px;
  border: 2px solid black;
  font-size: calc(15px + 10 * (100vw / 2000));
  background-color: rgb(201, 233, 234);
  cursor: pointer;
  box-shadow: 10px 4px 8px rgb(0 0 0 / 70%);
  text-decoration: none;
  background-image: linear-gradient(
    45deg,
    #6ab1d7 0%,
    #33d9de 50%,
    #002878 100%
  );
  background-position: 100% 0;
  background-size: 200% 200%;
  color: white;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, 0.35);
  transition: 0.5s;
  border: 3px solid #ffffff;
}
.buttonNewGame:hover {
  box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}

@media (max-width:900px){
  .gameZone{
    width: 50%;
    height: 50%;
  }
  .wrapper{
   min-height: 70%;
  }
}

@media (max-width:800px){
  .gameZone{
    width: 40%;
    height: 40%;
  }
}