* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(206, 213, 147);
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
}

.tittle {
  background-color: rgb(206, 213, 147);
  display: flex;
  justify-content: center;
  padding: 10px 0px 15px;
  font-size: calc(24px + 30 * (100vw / 1280));
  text-shadow: 2px 2px 2px rgb(191, 235, 235), 4px 4px 2px rgb(191, 235, 235);
}

.gameZone {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  margin-bottom: 40px;
  min-width: 50%;
  height: 50%;
  background-color: rgb(191, 235, 235);
  background: url("./img/background.jpg") top center no-repeat;
  background-size: 100% 100%;
}

.userGame {
  /* perspective: 600px; */
  flex-wrap: wrap;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-bottom: 40px;
  min-width: 80%;
  height: 75vh;
  background-color: rgb(191, 235, 235);
  background: url("./img/background2.jpg") top center no-repeat;
  background-size: 100% 100%;
}

/* .scene {
  width: 100px;
  height: 150px;
} */

.card {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  /* position: relative; */
  /* width: 100%; */
  /* height: 100%; */
  cursor: pointer;
  /* transition: transform 1s; */
  /* transform-style: preserve-3d; */
  /* transform-origin: center right; */
  /* backface-visibility: visible; */
  width: 150px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

/* .card.is-flipped {
  transform: rotateY(180deg);
} */

.card_hide {
  /* transform: rotateY(180deg); */
  background-image: url("./img/foncard.jpg") !important;
}

.buttonStart {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  height: 40px;
  min-width: 40px;
  border-radius: 5px;
  margin-left: 15px;
  border: 2px solid rgb(19, 20, 20);
  box-shadow: 10px 4px 8px rgb(0 0 0 / 60%);
  cursor: pointer;
}

.resButton {
  padding: 5px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  height: 40px;
  min-width: 40px;
  border-radius: 5px;
  margin-left: 15px;
  border: 2px solid rgb(19, 20, 20);
  box-shadow: 10px 4px 8px rgb(0 0 0 / 60%);
  cursor: pointer;
}

.containerControl {
  display: flex;
  justify-content: center;
}

.input {
  font-size: 20px;
  font-weight: 500;
  width: 35vh;
  text-align: center;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid rgb(19, 20, 20);
  box-shadow: 10px 4px 8px rgb(0 0 0 / 60%);
}
::-webkit-input-placeholder {
  /* font-size: 1.1rem; */
  font-size: calc(8px + 10 * (100vw / 2000));
  font-family: Tahoma;
  color: rgb(150, 139, 139);
}

.userSelected {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: calc(10px + 20 * (100vw / 2000));
  text-shadow: 2px 2px 2px rgb(191, 235, 235), 4px 4px 2px rgb(191, 235, 235);
}

.containerPopup {
  position: fixed;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgba(100, 96, 96, 0.55);
}

.popupInfo {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  border-radius: 10px;
  font-size: calc(25px + 20 * (100vw / 2000));
  background-color: rgb(255, 255, 255);
  height: 300px;
  box-shadow: 10px 4px 8px rgb(0 0 0 / 70%);
  padding: 10px;
}

.buttonNewGame {
  width: 40%;
  display: block;
  border-radius: 10px;
  margin-top: 15px;
  height: 60px;
  border: 2px solid black;
  font-size: calc(15px + 10 * (100vw / 2000));
  background-color: rgb(201, 233, 234);
  cursor: pointer;
  box-shadow: 10px 4px 8px rgb(0 0 0 / 70%);
}
